<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646804802552-id2fqdd896pkm18bulsm3qbd3m7igg1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646804802552-id2fqdd896pkm18bulsm3qbd3m7igg1d</string>
	<key>API_KEY</key>
	<string>AIzaSyCsH_IAer5kZS7b5ZjFHtm5J0p6WX5zMlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>646804802552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dm.IGClone</string>
	<key>PROJECT_ID</key>
	<string>fchat-6ca90</string>
	<key>STORAGE_BUCKET</key>
	<string>fchat-6ca90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646804802552:ios:57bdb7d9f726e36d79640d</string>
	<key>DATABASE_URL</key>
	<string>https://fchat-6ca90.firebaseio.com</string>
</dict>
</plist>